{# themes/your_theme/templates/form/form-element--webform-checkbox.html.twig #}

<div class="form-check">
  {# 1. The Input (Checkbox) #}
  {{ children }}

  {# 2. The Label with required indicator #}

      {% if label['#title_display'] != 'invisible' %}
          <label {{ label.attributes.addClass('form-check-label') }} for="{{ children['#id'] }}">
           {{ label['#title'] }}
            </label>

      {% endif %}
  
  {# 3. The Description #}
  {% if description.content %}
    <div class="form-text description text-muted">
      {{ description.content }}{% if label['#required'] %}<span class="required">*</span>{% endif %}
    </div>
  {% elseif description %}
    <div class="form-text description text-muted">
      {{ description }}{% if label['#required'] %}<span class="required">*</span>{% endif %}
    </div>
  {% endif %}
  
  {# 4. Errors (if any) #}
  {% if errors %}
    <div class="form-element-errors">
      {{ errors }}
    </div>
  {% endif %}
</div>