{# paragraph--faq-item.html.twig #}
{% set collapse_id = 'collapse-' ~ paragraph.id() %}
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ collapse_id }}"
            aria-expanded="false">
      {{ content.field_fquestion }}
    </button>
  </h2>
  <div id="{{ collapse_id }}"
       class="accordion-collapse collapse"
       data-bs-parent="#faqAccordion-{{ paragraph.getParentEntity().id() }}">
    <div class="accordion-body">
      {{ content.field_fanswer }}
    </div>
  </div>
</div>