{# templates/partials/footer.html.twig #}

<div class="site-footer-container">
  <div class="site-footer-custom__top row">

    {# Column 1: Brand #}
    <div class="col-12 col-lg-3 footer-col footer-col--brand">
      <a href="{{ front_page }}" rel="home">
        <img src="/{{ directory }}/images/logo_nord.svg" alt="{{ site_name }} logo">
      </a>
      <a href="tel:0248948" class="phone-number">0248 948</a>
      <div class="cert-badges">
        <img src="/{{ directory }}/images/ANMCS.png" alt="ANMCS Certification">
        <img src="/{{ directory }}/images/iso9001.png" alt="ISO 9001 Certification">
        <img src="/{{ directory }}/images/OHSAS.png" alt="ISO 14001 Certification">
      </div>
    </div>

    {# Column 2: CAS #}
    <div class="col-12 col-lg-2 footer-col">
      <span class="site-footer-custom__title">CAS</span>
      <ul class="site-footer-custom__nav-list">
        <li><a href="#">Drepturile asiguraților</a></li>
        <li><a href="#">Specialități in contract cu CAS</a></li>
        <li><a href="#">Servicii medicale și tarife decontate de CAS</a></li>
      </ul>
    </div>

    {# Column 3: Resurse #}
    <div class="col-12 col-lg-2 footer-col">
      <span class="site-footer-custom__title">Resurse</span>
      <ul class="site-footer-custom__nav-list">
        <li><a href="#">Ghiduri intervenție</a></li>
        <li><a href="#">Ghiduri imagistică</a></li>
        <li><a href="#">Chestionar satisfacție</a></li>
        <li><a href="#">Formular aventuare integritate</a></li>
        <li><a href="#">Soluționare online litigii</a></li>
      </ul>
    </div>

    {# Column 4: Parteneri #}
    <div class="col-12 col-lg-2 footer-col">
      <span class="site-footer-custom__title">Parteneri</span>
      <ul class="site-footer-custom__nav-list">
        <li><a href="#">MedLife</a></li>
        <li><a href="#">Signal Iduna</a></li>
        <li><a href="#">Medicover</a></li>
        <li><a href="#">Medical Ocupațional</a></li>
        <li><a href="#">Allianz Tiriac</a></li>
        <li><a href="#">NN Asigurari de viată</a></li>
        <li><a href="#">BIOFARM</a></li>
        <li><a href="#">Synevo</a></li>
      </ul>
    </div>

    {# Column 5: Contact #}
    <div class="col-12 col-lg-3 footer-col">
      <span class="site-footer-custom__title">Contact</span>
      <ul class="site-footer-custom__contact-list">
        <li class="contact-item">
          <span class="icon icon-document"></span>
          <span>Pitești, str. Pictor Nicolae Grigorescu, nr. 2A, vis-a-vis de ExpoParc</span>
        </li>
        <li class="contact-item">
          <span class="icon icon-phone"></span>
          <span>Call center 0248 948</span>
        </li>
        <li class="contact-item">
          <span class="icon icon-document"></span>
          <a href="mailto:office@munteniahospital.ro">office@munteniahosp</a>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="site-footer-custom__bottom">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="copyright mb-3 mb-md-0">Copyright © 2025 Spitalul Nord Muntenia | All Rights Reserved</p>
        <ul class="site-footer-custom__legal-nav">
          <li><a href="#">Termeni și condiții</a></li>
          <li><a href="#">Politica Cookies</a></li>
          <li><a href="#">ANPC</a></li>
          <li><a href="#">GDPR</a></li>
        </ul>
    </div>
</div>