{# templates/partials/footer.html.twig #}

<footer class="site-footer-container">
  <div class="site-footer-custom__top">

    {# Column 1: Brand #}
    <div class="footer-col footer-col--brand">
      <div class="logo-wrapper">
        <a href="{{ front_page }}" rel="home">
          <img src="/{{ directory }}/images/logo_nord_main.png" alt="{{ site_name }} logo">
        </a>
      </div>
      
      <div class="phone-wrapper">
        <a href="tel:0248948" class="phone-number">0248 948</a>
      </div>
      
      <div class="cert-wrapper">
        <div class="cert-badges">
          <img src="/{{ directory }}/images/ANMCS.png" alt="ANMCS Certification">
          <img src="/{{ directory }}/images/iso9001.png" alt="ISO 9001 Certification">
          <img src="/{{ directory }}/images/OHSAS.png" alt="ISO 14001 Certification">
        </div>
      </div>
    </div>

    <div class="footer-links-wrapper">
      {# Column 2: CAS #}
      <div class="footer-col footer-col--links">
        <h3 class="site-footer-custom__title">CAS</h3>
        <ul class="site-footer-custom__nav-list">
          <li><a href="#">Drepturile asiguraților</a></li>
          <li><a href="#">Specialități în contract cu CAS</a></li>
          <li><a href="#">Servicii medicale și tarife decontate de CAS</a></li>
        </ul>
      </div>

      {# Column 3: Resurse #}
      <div class="footer-col footer-col--links">
        <h3 class="site-footer-custom__title">Resurse</h3>
        <ul class="site-footer-custom__nav-list">
          <li><a href="#">Ghiduri intervenție</a></li>
          <li><a href="#">Ghiduri imagistică</a></li>
          <li><a href="#">Chestionar satisfacție</a></li>
          <li><a href="#">Formular avertizare integritate</a></li>
          <li><a href="#">Soluționare online litigii</a></li>
        </ul>
      </div>

      {# Column 4: Parteneri #}
      <div class="footer-col footer-col--links">
        <h3 class="site-footer-custom__title">Parteneri</h3>
        <ul class="site-footer-custom__nav-list">
          <li><a href="#">MedLife</a></li>
          <li><a href="#">Signal Iduna</a></li>
          <li><a href="#">Medicover</a></li>
          <li><a href="#">Medical Ocupațional</a></li>
          <li><a href="#">Allianz-Tiriac</a></li>
          <li><a href="#">NN Asigurări de viață</a></li>
          <li><a href="#">BIOFARM</a></li>
          <li><a href="#">Synevo</a></li>
        </ul>
      </div>

      {# Column 5: Contact #}
      <div class="footer-col footer-col--contact">
        <h3 class="site-footer-custom__title">Contact</h3>
        <ul class="site-footer-custom__contact-list">
          <li class="contact-item">
            <span class="icon icon-basil-loc-solid icon--sm"></span>
            <span>Pitești, str. Pictor Nicolae Grigorescu, nr. 2A, vis-a-vis de ExpoParc</span>
          </li>
          <li class="contact-item">
            <span class="icon icon-ic-round-call icon--sm"></span>
            <span>Call center 0248 948</span>
          </li>
          <li class="contact-item">
            <span class="icon icon-material-mail-rounded icon--sm"></span>
            <a href="mailto:office@munteniahospital.ro">office@munteniahospital.ro</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="site-footer-custom__bottom">
    <p class="site-footer-custom__copyright">Copyright © 2025 Spitalul Nord Muntenia | All Rights Reserved</p>
    <ul class="site-footer-custom__legal-nav">
      <li><a href="#">Termeni și condiții</a></li>
      <li><a href="#">Politica Cookies</a></li>
      <li><a href="#">ANPC</a></li>
      <li><a href="#">GDPR</a></li>
    </ul>
  </div>
</footer>