{# templates/partials/header.html.twig #}

<header class="site-header">
  
  {# Desktop Header #}
  <div class="site-header__desktop">
    
    {# Tier 1: Utility Bar #}
    <div class="site-header__utility">
      <div class="site-header__container">
        <a href="/" class="site-header__logo-group">
          <div class="site-header__logo">
            <img src="/{{ directory }}/images/logo_nord_main.png" alt="{{ site_name }}">
          </div>
          <span class="site-header__divider"></span>
          <span class="site-header__brand-name">
            <img src="/{{ directory }}/images/muntenia.svg" alt="MUNTENIA">
          </span>
        </a>

        <div class="site-header__utility-links">
          <a href="/contact">Contact</a>
          <a href="tel:0248948" class="site-header__phone-link">
            <span class="icon icon-phone"></span>
            <span class="site-header__phone-number">0248 948</span>
          </a>
          <a href="#">
            <span class="icon icon-lab"></span>
            <span>Rezultate analize</span>
          </a>
          <a href="/user">
            <span class="icon icon-profile"></span>
            <span>Intră în cont</span>
          </a>
        </div>
      </div>
    </div>

    {# Tier 2: Main Navigation #}
    <nav class="site-header__main">
      <div class="site-header__container">
        <ul class="site-header__nav">
          <li class="site-header__nav-item site-header__nav-item--dropdown">
            <a href="/" data-nav-item="home">Spitalul Muntenia</a>
            <div class="site-header__dropdown">
              <a href="/despre-noi">Despre noi</a>
             {# <a href="/acreditari">Acreditari</a>
              <a href="/cariere">Cariere</a> #}
            </div>
          </li>
          <li class="site-header__nav-item"><a href="/specialities" data-nav-item="specialities">Specialitati</a></li>
          <li class="site-header__nav-item"><a href="/doctors" data-nav-item="doctors">Medici</a></li>
          <li class="site-header__nav-item site-header__nav-item--dropdown">
            <a data-nav-item="centers">Centre medicale</a>
            <div class="site-header__dropdown">
              <a href="/centers/san/despre-centru">Centru - San</a>
              <a href="/centers/centrul-de-imagistica/despre-centru">Centru - Imagistica</a>
              <a href="/centers/centrul-de-ortopedietraumatologie/despre-centru">Centru - Ortopedie-Traumatologie</a>
            </div>
          </li>
          <li class="site-header__nav-item site-header__nav-item--dropdown">
            <a href="/pachete-preturi" data-nav-item="packages">Pachete si preturi</a>
            <div class="site-header__dropdown">
              <a href="/pachete">Pachete</a>
              <a href="/preturi">Preturi</a>
            </div>
          </li>
        </ul>
  
        <div class="site-header__actions">
          <form class="site-header__search">
            <span class="icon icon-search"></span>
            <input type="search" placeholder="Caută">
          </form>
          <a href="/programare-online" class="btn btn-danger">Programează-te acum</a>
        </div>
      </div>
    </nav>
  </div>

  {# Mobile/Tablet Header #}
  <div class="site-header__mobile">
    <a href="/" class="site-header__logo">
      <img src="/{{ directory }}/images/logo_nord_main.png" alt="{{ site_name }}">
    </a>
    <span class="site-header__divider"></span>

    <span class="site-header__brand-name">
      <img src="/{{ directory }}/images/muntenia.svg" alt="MUNTENIA">
    </span>
    
    <button class="site-header__menu-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

</header>

{# Mobile Offcanvas Menu #}
<div class="offcanvas offcanvas-start site-header__offcanvas" tabindex="-1" id="mobileMenu">
  <div class="offcanvas-header">
    <div class="site-header__offcanvas-logo-group">
      <a href="/" class="site-header__logo">
        <img src="/{{ directory }}/images/logo_nord_main.png" alt="{{ site_name }}">
      </a>
      <span class="site-header__divider"></span>
      <span class="site-header__brand-name">
        <img src="/{{ directory }}/images/muntenia.svg" alt="MUNTENIA">
      </span>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  
  <div class="offcanvas-body">
    <div class="site-header__mobile-utility">
      <a href="tel:0248948" class="site-header__phone-link">
        <span class="icon icon-phone"></span>
        <span>0248 948</span>
      </a>
      <a href="#">
        <span class="icon icon-lab"></span>
        <span>Rezultate</span>
      </a>
      <a href="/user">
        <span class="icon icon-profile"></span>
        <span>Cont</span>
      </a>
    </div>

    <form class="site-header__search">
      <span class="icon icon-search"></span>
      <input type="search" placeholder="Caută">
    </form>

    <nav class="site-header__mobile-nav">
      <div class="site-header__mobile-nav-item site-header__mobile-nav-item--expandable">
        <div class="site-header__mobile-nav-row">
          <a href="/" class="site-header__mobile-nav-link">Spitalul Muntenia</a>
          <button type="button" class="site-header__mobile-nav-toggle" data-submenu-toggle>
            <span class="icon icon-chevron-down icon--xsm"></span>
          </button>
        </div>
        <div class="site-header__mobile-submenu">
          <a href="/despre-noi">Despre noi</a>
          <a href="/acreditari">Acreditari</a>
          <a href="/cariere">Cariere</a>
        </div>
      </div>
      
      <div class="site-header__mobile-nav-item">
        <a href="/specialities" class="site-header__mobile-nav-link">Specialitati</a>
      </div>
      
      <div class="site-header__mobile-nav-item">
        <a href="/doctors" class="site-header__mobile-nav-link">Medici</a>
      </div>
      
      <div class="site-header__mobile-nav-item">
        <a href="/centers" class="site-header__mobile-nav-link">Centre medicale</a>
      </div>
      
      <div class="site-header__mobile-nav-item site-header__mobile-nav-item--expandable">
        <div class="site-header__mobile-nav-row">
          <a href="/pachete-preturi" class="site-header__mobile-nav-link">Pachete si preturi</a>
          <button type="button" class="site-header__mobile-nav-toggle" data-submenu-toggle>
            <span class="icon icon-chevron-down icon--xsm"></span>
          </button>
        </div>
        <div class="site-header__mobile-submenu">
          <a href="/pachete">Pachete</a>
          <a href="/preturi">Preturi</a>
        </div>
      </div>
      
      <div class="site-header__mobile-nav-item">
        <a href="/contact" class="site-header__mobile-nav-link">Contact</a>
      </div>
    </nav>
  </div>
</div>